{% extends 'admin/base_admin.html' %}

{% block main %}
<form action="{% url 'recipe_update_url' id=recipe.id%}" method="post" , enctype="multipart/form-data">
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Назва страви</label>
    {{ form.name_dish }}
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Фото (не обов'язково)</label>
    <igm src="{{ recipe.cover.url }}"></igm>
    {{ form.img }}
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Рецепт</label>
    {{ form.recipe }}
  </div>
  <div class="d-grid gap-2 col-2 mx-auto d-md-block">
    <button type="submit" class="btn btn-dark">Зберегти</button>
    <a href="{% url 'recipe_delete_url' id=recipe.id %}" class="btn btn-dark" type="button">Видалити</a>
  </div>
</form>
{% endblock %}